body { 
    color: yellow; 
    background-color: aqua;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    width: 300px;
    margin-top: 20px;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: lightgray;
    background-size: contain;
    /* color: white; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    cursor: pointer;
    opacity: 0.5; 
}

.cell:hover {
    background-color: darkgray;
    opacity: 1; 
}
